div, html, body {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

div.zoomable {
  position: relative;
  width: 400px;
}

div.zoomable img {
  width: 100%;
  display: block;
}

div.zoomable > div.focus-box {
  border: 5px solid white;
  position: absolute;
}

div.zoomed-image {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}
