html, body, ul, a {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

.tabs .active {
  font-weight: bold;
}

article {
  display: none;
  transition: opacity 500ms linear;
}

article.active {
  display: block;
}

article.transitioning {
  display: block;
  opacity: 0;
}
